@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  }

:root{
  --bg-color: #2C3333;
  --second-bg-color: #2E4F4F;
  --text-color: #ffffff;
  --main-color: #FFED00;
}

html{
  font-size: 62.5%;
  overflow-x:hidden
}
body{
  background: var(--bg-color);
  color: var(--text-color)
}
header{
  position: fixed;
  top: 0;
  left: 0;
  background: var(--bg-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 5%;
  width: 100%;
  z-index: 100;
}

.logo{
  /* position: fixed; */
  font-size: 4rem;
  color: var(--text-color);
  font-weight: 600;
  cursor:default;
}

#menuIcon{
  font-size: 4.5rem;
  display:none;
}

nav a{
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 600;
  margin-left: 2.5rem;
  transition: .3s ease;
}

nav a:hover{
  color: var(--main-color);
}

main{
  padding: 9rem 10%;
  background: var(--second-bg-color);
}

main .heading{
  text-align: center;
  font-size: 3rem;
  margin: 4rem 0;
  line-height: 6rem;
}

main h2{
  font-size: 4rem ;
  text-align: center;
}

.project-info{
  margin: 2rem 1rem;
}
.project-overview{
 margin-bottom: 2rem;
 font-size: 2rem;
}

.project-specs{
  display: flex;
  justify-content: space-around;
}

ul{
  list-style-type: none;
}
li{
  margin-bottom: 1rem;
}
.features, .technologies-used{
  font-size: 2rem;
  text-align: center;
}

.features h2, .technologies-used h2{
  line-height: 4rem;
  min-height: 6rem;
  margin-top: 3rem;
}

.technologies-used ul{
  margin-left: 20px;
}

footer {
  bottom: 0;
  width:100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}