<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include 'header.html' %}

    <main>
      <div class="heading">
        <h1>
          {% if session["islogged"]==True %} Hi {{session.firstname}}, {% endif
          %} Welcome To The Movie Recommender
        </h1>
      </div>

      <div class="project-info">
        <div class="project-overview">
          <h2>Project Overview</h2>
          <p>
            A content-based movie recommender system that suggests movies to
            users based on the content of the movie that they have searched for.
            The system utilizes data from the 15,000 most popular movies on TMDB
            (The Movie Database) and make use of the cosine similarity algorithm
            to calculate movie similarity.
          </p>
        </div>

        <div class="project-specs">
          <div class="features">
            <h2>Features</h2>
            <ul>
              <li>User registration and authentication.</li>
              <li>Movie search and recommendations.</li>
              <li>Display detailed movie information using TMDB API.</li>
              <li>User-friendly interface with HTML, CSS, and JavaScript.</li>
              <li>Utilize Flask to build the web application.</li>
            </ul>
          </div>
          <div class="technologies-used">
            <h2>Technologies Used</h2>
            <ul>
              <li>Python (Flask) for the backend.</li>
              <li>
                Cosine similarity algorithm for content-based recommendations.
              </li>
              <li>TMDB API for fetching movie details.</li>
              <li>HTML/CSS for user interface design.</li>
              <li>JavaScript for dynamic elements and interactions.</li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <section class="login-section" i>
      <h2>Check The Recommendations</h2>
      {% if session['islogged'] == False %}
      <div id="login-section">
        <p>
          To start receiving personalized movie recommendations, please log in
          to your account. If you don't have an account, you can quickly
          register to get started.
        </p>
        <a href="/login" class="login-button">Log In</a>
        <a href="/register" class="register-button">Register</a>
      </div>
      {% else %}
      <a href="/recommend" class="recommend-button" id="recommend-button"
        >Go to the Recommender</a
      >
      {% endif %}
    </section>

    {% include 'footer.html' %}
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>
