<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include 'header.html' %}

    <main>
      <div class="heading">
        <h1>
          {% if session["islogged"]==True %} Hi
          <span> {{session.firstname}}</span>, {% endif %} Welcome To The Movie
          <span>Recommender</span>
        </h1>
      </div>

      <div class="project-info">
        <div class="project-overview">
          <h2>Project <span>Overview</span></h2>
          <p>
            A <span>content-based</span> movie recommender system that suggests
            movies to users based on the content of the movie that they have
            searched for. The system utilizes data from the
            <span>15,000</span> most popular movies on TMDB (The Movie Database)
            and make use of the <span>cosine similarity</span> algorithm to
            calculate movie similarity.
          </p>
        </div>

        <div class="project-specs">
          <div class="features">
            <h2>Features</h2>
            <ul>
              <li>User registration and authentication.</li>
              <li>Movie search and recommendations.</li>
              <li>
                Display detailed movie information using <span>TMDB API</span>.
              </li>
              <li>User-friendly interface with HTML, CSS, and JavaScript.</li>
              <li>Details and recommendations based on recommendations.</li>
            </ul>
          </div>
          <div class="technologies-used">
            <h2>Technologies Used</h2>
            <ul>
              <li><span>Python (Flask)</span> for the backend.</li>
              <li>
                Cosine similarity algorithm for content-based recommendations.
              </li>
              <li><span>TMDB API</span> for fetching movie details.</li>
              <li>HTML&CSS for user interface design.</li>
              <li>
                <span>Jinja2</span> Templating for dynamic elements and
                interactions.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <div class="recommender-section">
      {% if session['islogged'] == False %}
      <a href="/login" class="button" id="login-button">Log In</a>
      <a href="/register" class="button" id="register-button">Register</a>
      <p>
        To view the movie recommendations, please log in to your account. If you
        don't have an account, you can quickly register to get started.
      </p>

      {% else %}
      <a href="/recommend" class="button" id="recommend-button"
        >Go to the Recommender</a
      >
      {% endif %}
    </div>

    {% include 'footer.html' %}
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>
