<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include 'header.html' %}

    <div
      id="alert-message-error"
      class="alert alert-danger"
      style="display: none"
      data-message="{{ message|default('') }}"
    ></div>
    <div
      id="alert-message-success"
      class="alert alert-success"
      style="display: none"
      data-message="{{ message|default('') }}"
    >
      Registered Successfully.
    </div>

    <main class="login-form">
      <div class="login">
        <h1>Login</h1>

        <form action="" method="POST">
          <div class="input">
            <label for="email">Email</label>
            <input
              class=""
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              required
            />
          </div>
          <div class="input">
            <label for="password">Password</label>
            <input
              class=""
              type="password"
              id="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>
          <button class="button" type="submit">Login</button>
          <p>New here? <a class="link" href="/register">Register</a></p>
        </form>
      </div>
    </main>

    {% include 'footer.html' %}
  </body>
  <script src="../static/login.js"></script>
</html>
