<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include 'header.html' %}
    <main class="recommend">
      <div class="movie-search-bar">
        <form action="" method="POST">
          <input
            type="text"
            class="form-control"
            id="movieName"
            name="movieName"
            placeholder="Search for Movie"
            autocomplete="off"
            required
          />
          <button class="search-icon" type="submit">
            <i class="bx bx-search"></i>
          </button>
        </form>
      </div>

      <div>
        {% if recommendations %}
        <div id="content">
          {% if recommendations != "no movie" %}
          <section class="results-heading">
            Showing results for "{{session.movie.title()}}"
          </section>
          <div class="movie-details-container">
            <!-- <img
              src="https://image.tmdb.org/t/p/original{{session['movie_details'].backdrop_path}}"
              alt="background img"
              class="backdrop"
            /> -->
            <div class="postercumdetails">
              <div class="poster">
                <img
                  src="https://image.tmdb.org/t/p/original{{session['movie_details'].poster_path}}"
                  alt="movie poster"
                  class="poster-image"
                />
              </div>
              <div class="movie-info">
                <h1>{{session["movie_details"].title}}</h1>

                <section class="genres">
                  | {% for i in session['movie_details'].genres %} {{i.name}} |
                  {%endfor%}
                </section>
                <section class="rating">
                  {{session['movie_details'].release_date}}&nbsp;&nbsp;
                  <b>|</b> &nbsp;&nbsp;{{session['movie_details'].runtime//60}}h
                  {{session['movie_details'].runtime%60}}m&nbsp;&nbsp; <b>|</b>
                  &nbsp;&nbsp;Rating: {{session['movie_details'].vote_average}}
                </section>
                <section class="overview">
                  <h1>Overview</h1>
                  {{session["movie_details"].overview}}
                  {{session["movie_details"].overview}} <br />
                  <i>Lang: {{session["movie_details"].original_language}}</i>
                </section>
              </div>
            </div>
          </div>

          <section class="movie-list">
            {% for movie in recommendations %}
            <div class="recommended-movie-tile">
              <div class="recommended-movie-image">
                <img
                  src="https://image.tmdb.org/t/p/original{{movie[1]}}"
                  alt=""
                  width="100%"
                />
              </div>
              <div class="recommended-movie-title">
                <p>{{movie[0]}}</p>
              </div>
            </div>
            {% endfor %}
          </section>
          {% else %}
          <section class="results-heading">
            Cannot understand "<span class="no-results">{{session.movie}}</span
            >" {% endif %}
          </section>
        </div>
        {% endif %}
      </div>
    </main>

    <footer>
      <p>&copy; 2023 Movie Recommender. All rights reserved.</p>
    </footer>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const recommendedMovieTiles = document.querySelectorAll(
        ".recommended-movie-tile"
      );
      recommendedMovieTiles.forEach((tile) => {
        tile.addEventListener("click", function () {
          const movieTitle = tile.querySelector(
            ".recommended-movie-title"
          ).textContent;
          const queryString = `?movie=${movieTitle}`;
          const currentURL = window.location.href.split("?")[0];
          const newURL = currentURL + queryString;
          window.location.href = newURL;
        });
      });
    });
  </script>
</html>
