<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include 'header.html' %}

    <div
      id="alert-message-error"
      class="alert alert-danger"
      style="display: none"
      data-message="{{ message|default('') }}"
    ></div>

    <main class="registration-form">
      <div class="registration">
        <h1>Register</h1>
        <form action="" method="POST">
          <div class="user-name">
            <div class="input">
              <label for="firstName">First Name</label>
              <input
                class=""
                type="text"
                id="firstName"
                name="firstName"
                required
              />
            </div>
            <div class="input">
              <label for="lastName">Last Name</label>
              <input
                class=""
                type="text"
                id="lastName"
                name="lastName"
                required
              />
            </div>
          </div>
          <div class="input">
            <label for="email">Email</label>
            <input class="" type="email" id="email" name="email" required />
          </div>
          <div class="input">
            <label for="password">Password</label>
            <input
              class=""
              type="password"
              id="password"
              name="password"
              required
            />
          </div>
          <button class="button" type="submit">Submit</button>
          <p>Already a member? <a class="link" href="/login">Login</a></p>
        </form>
      </div>
    </main>

    <footer>
      <p>&copy; 2023 Movie Recommender. All rights reserved.</p>
    </footer>
  </body>
  <script src="../static/registration_form.js"></script>
</html>
